body {
  margin:0;
  font-family:'Roboto',Open Sans,Arial;
  letter-spacing:2px;
}

#myTopnav{
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  z-index: 1;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
 /* @media screen and (max-width: 600px) {
  #myTopnav{
  position: -webkit-absolute;
  position:absolute;
  }
}*/
.topnav {
  /*overflow: hidden;*/
  background-color: rgba(255,255,255,1);
  /*border-bottom: 2px solid rgb(0,0,0);*/  
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}


.topnav a {
  float: left;
  display: block;
  color: rgb(172, 33, 91) ;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat',Roboto,Open Sans;
  /*text-transform: uppercase;*/
  letter-spacing:1px;
}


.topnav .active {
  background-color: rgb(172, 33, 91)!important;
  /*opacity: .5px;*/
  color: white !important;
}

.topnav .icon {
  display: none;
}

.topnav .logo{
   padding: 14px 40px 14px 16px !important;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;    
  border: none;
  outline: none;
  color: rgb(172, 33, 91);
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Montserrat',Roboto,Open Sans;
  /*text-transform: uppercase;*/
  letter-spacing:1px;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(240,240,240);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
}

.dropdown-content a {
  float: none;
  color: rgb(172, 33, 91);
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Montserrat',Roboto,Open Sans;
  /*text-transform: uppercase;*/
  display: block;
  text-align: left;
}

.topnav a:nth-child(n+3):hover, .active:hover, .dropdown:hover .dropbtn {
  cursor: pointer;
  background-color: rgb(172, 33, 91);
  color: white !important;
}

.dropdown-content a:hover {
  background-color: rgb(172, 33, 91);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.address a{
  float: right;
  cursor: pointer;
  padding: 16px 16px;
  /*color: rgb(217,169,165) !important;*/
  font-family: 'Montserrat',Roboto,Open Sans;
  color: rgb(172, 33, 91) !important;
  font-size:12px;
  text-decoration: none;
}

.address a:hover{
  cursor: pointer;
  background-color: none !important;
  text-decoration: underline;
  }

/*  @media screen and (max-width: 600px) {
  .address a:not(:first-child){
  display: none;
  }
}*/

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn, .address a{
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
     text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.slideshowContainer {
  position: relative;
  overflow: hidden;
  margin: 0px;
  width: 100%;
  height: 700px;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/*.mySlides {display: none}*/

img {
  /*vertical-align: middle;*/
  width: 1000px;
  overflow: hidden;
}
.slideTexts{
  position: absolute;
  top:30%;
  left: 10%;
  font-size: 20vw;
  font-family: 'Exo',Arial !important;
  letter-spacing: 2px;
  color: rgb(172, 33, 91);
  opacity: 0;
}

/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.6;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
    cursor: pointer;
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(214, 41, 113, 0.7);
  border: solid 2px rgba(255, 255, 255,0);
}

#appointment{

right: -58px;
}

#appointment.icon-bar {
  position: fixed;
  display: block;
  background: rgb(172, 33, 91);
  top: 70%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); 
  -webkit-transform:rotate(-90deg);
  backface-visibility: hidden;
  border-radius: 9px 9px 0px 0px;
  z-index: 999992;
  padding: 5px 14px 10px 14px;
  color: white;
  font-size: 13px;
  font-family: 'Montserrat', Roboto !important;
  text-align: center;
  text-decoration: none;
}

.icon-bar i {
  padding-right: 5px;
  /*-webkit-transform:rotate(-90deg);*/
  font-size: 15px;
}

.icon-bar a {
  display: block;
  text-align: center;
  /*-webkit-transform:rotate(-90deg);*/
  padding:0;
  transition: all 0.3s ease;
  color: white;
  font-size: 12px;
  font-family: 'Montserrat', Roboto !important;
  letter-spacing: 1px;
}

.icon-bar a:link , a:visited{
  text-decoration: none;
}

#appointment.icon-bar:hover {
  background-color: rgba(172, 33, 91,.7);
  /*color: rgb(172, 33, 91);*/
   transition: all 0.2s ease;
}

 @media screen and (max-width: 600px) {
  .icon-bar {
  top:60%;
  }

  .icon-bar i {
  font-size: 10px;
}

  .icon-bar a {
  font-size: 10px;
}
}

.headerbelownav{
  /*position: fixed;*/
  margin-top:50px;
  margin-bottom: 0px;
  /*padding: 5px 15px;*/
  /*display: block;*/
  background-color: white;
  padding-left: 16px;
}

ul.breadcrumb {
  list-style: none;
  float: left;
  margin:0px;
  padding: 0px;
  padding-bottom: 2px;
}
ul.breadcrumb li {
  display: inline;
  color: rgb(105, 54, 48);
  font-size: 12px;
}
ul.breadcrumb li+li:before {
  padding: 2px;
  color: rgb(158, 80, 71);
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: rgb(207, 150, 150) ;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: rgb(158, 80, 71);
  text-decoration: underline;
}

.content{
  /*position: absolute;*/
  padding:15px 15px;
  font-size:16px;
  margin-top:0px;
}

.section {
  /*overflow: hidden;*/
  background-color: white;
  display: block;
  margin: 50px;
}

.section h2 {
  text-align: center;
  justify-content: center;
  font-family:'Dosis',Roboto,Arial;
  padding: 5px 0px;
  letter-spacing:5px;
  text-transform: uppercase;
  /*font-weight: 800;*/
  color: rgb(172, 33, 91);
  text-decoration: none;
  font-size: 35px;
}

.section a{
  display: block;
  justify-content: center;
  
}

.fadeInUp{
  animation-duration:1s;
}


.grid-container{
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  align-content: end;
  margin: 30px 50px;
  /*background-color: #2196F3;*/
  /*padding: 10px;*/
}

@media screen and (max-width: 650px) {
  .grid-container {
   grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
}

.column {
/*  display: grid;
  grid-column-gap:20px 
  width: 20%;
  margin-bottom: 16px;
  padding: 0 28px;*/
  background-color: rgba(255, 255, 255, 0.8);
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  /*padding: 20px;*/
  font-size: 12px;
  text-align: center;
}
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    /*display: block;*/
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/*.container {
  padding: 0 10px;
}*/

.button {
  border: none;
  outline: 0;
  /*display: inline-block;*/
  padding: 12px 0px;
  color: white;
  background-color: rgb(151, 28, 79);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: 'Roboto',Arial;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover {
  background-color: rgba(151, 28, 79,.7);
  transition: 0.2s ease-in-out;
}

.section2{
  /*overflow: hidden;*/
  background-color: rgb(242, 242, 242);
  display: block;
  width: 100%
  margin: 20px 50px;
  padding: 14px 16px;
}

.section2 h2 {
  text-align: center;
  justify-content: center;
  font-family:'Dosis',Roboto,Arial;
  padding: 0px 0px;
  letter-spacing:5px;
  text-transform: uppercase;
  /*font-weight: 800;*/
  color: rgb(172, 33, 91);
  text-decoration: none;
  font-size: 35px;
}

.video{
  display: flex;
  justify-content: space-evenly;
  padding: 35px 20px;
}

.video iframe{
  width:600px;
  height:350px;
  border: none;
}

@media only screen and (max-width: 650px) {
    .video {
        display: block;
        text-align: center;
    }
    .video iframe{
    width:310px;
    height:20 0px;
    }
}

.footer1{
   box-shadow: 0 -5px 3px -5px rgba(0,0,0,.3);
}

.footer1-container{
  display: flex-wrap;

}

ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color:#555;
    color: #bbb;
    line-height: 1.5;
}
footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-family: 'Roboto', serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
    letter-spacing: 2px;
}


.ft-main {
    padding: 0px 16px;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 0px 16px;
    min-width: 12.5rem /*200px*/;
}

.ft-main .ft-main-item p{
  max-width: 300px;
  /*overflow-wrap: break-word;*/
  word-wrap: break-word;
  margin: 0;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

.footer-copyright{
  width: 100%;
  display: block;
  background-color: #555;

}

.footer-copyright-text{
font-size: 12px;
padding: 8px 12px;
letter-spacing: 1px;
color: white;
}

#bottomfooter2{
  bottom: 0;
  width: 100%;
  display: block;
  z-index: 1;
}

#bottomfooter2.footer2{
  overflow: hidden;
  background-color: #333 !important;
  /*border-bottom: 2px solid rgb(0,0,0);*/  
}


.footer2 a {
  float: left;
  display: block;
  color: rgb(255,255,255) ;
  text-align: center;
  padding: 16px 12px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Roboto',Open Sans;
  text-transform: uppercase;
  letter-spacing:1px;
}

.footer2 a:hover{
  text-decoration: underline;
  background-color: none !important;
  }

.social a{
  float: right;
  cursor: default;
  padding: 16px 12px 14px 12px;
  /*color: rgb(217,169,165) !important;*/
  color: rgb(255,255,255) !important;
  font-size:14px;
  text-transform: uppercase;
  text-decoration: none;
}

.social a i{
  font-size:20px;
}

.social-text{
  float: right;
  cursor: pointer;
  padding: 14px 16px;
  font-size:14px;
}

.social a i:hover{
  cursor: pointer;
  color: rgba(255,255,255,.5);
  text-decoration: none;
  }

.social a:hover{
  text-decoration: none;
  }

  @media screen and (max-width: 650px) {
  .social a:last-child{
  display: none;
}

}
  }