/*/*Default styles are here*/

*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}

.site-header{
	background-color: rgba(255,255,255);
}

.pointer {cursor: pointer;}


.navbar {
	text-transform: uppercase;
	font-family: 'Open Sans',sans-serif;
	font-weight: 500;
	margin-bottom: -2px;
	border-bottom: 2px solid #222220;
}

.navbar a:hover {
  border-bottom: 2px solid #ddd;
}
.navbar-brand a:hover {
  background-color: #FFFFFF !important;
  color: black;
}


.dropdown-item{
	text-transform: none;
}

.dropdown-item:hover {
  background-color: #ddd;
  border-bottom: none !important;
}

/*.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}*/
.rectangle {
	top:90%;
  height: 20px;
  width: 75px;
  margin-left: -3%;
  border-radius: 80px;
  background-color: rgba(217,217,217,0.5);
}

.carousel-indicators .active {
	margin: 1px;
  margin-top: 3px !important;
}

.carousel-indicators li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}

.btn {
	font-size:25px;
	border-color: none;
	background-color: #e6e6e6;
	border-radius: 100%;
	text-align: center;
}

.btn:hover{
border-color: none !important;
outline: none !important;
}

.btn:focus{
border-color: none !important;
outline: none !important;
}

#call{
	border: none !important;
	background-color: #2d9f3a;
	border-radius: 30px;
	padding:6px 12px; 
}

/*team section*/
.team {
	padding: 50px 0px 80px;
	text-align: center;
}

.team b,
h2,
h4{
	margin: 20px 0px 20px;
	color: #4c4c4c;
}

.team b{
	font-weight: 600;
}

.team p{
	color: #737373;
}

.team img{
	height: 150px;
	width: 150px;
	margin-top: 80px;
}

.team i{
	height: 30px;
	width: 30px;
	padding: 5px;
	font-size: 17px;
	border-radius: 50%;
	background-color: #a9db8e;
	color: #fff;
}

.team i:hover{
	background-color: #8cc36e;
}